$background-light: white;
$color-default: #242424;

$color-secondary: #F2F2F2;

$background-primary-200: #DDA15E;
$background-primary: #CD8742;
$background-primary-800: #BC6C25;

$background-secondary-200: #606C38;
$background-secondary: #445128;
$background-secondary-800: #283618;

$background-alternative: #FAEFD0;

$rounded: 0.5rem;

$shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);